# Ouvrir les fichiers dans Zed via le Svelte Inspector
LAUNCH_EDITOR=zed

# Credentials de test PocketBase
VITE_TEST_EMAIL_ALDEK=
VITE_TEST_EMAIL_ZEO=
VITE_TEST_EMAIL_QKO=
VITE_TEST_EMAIL_QKMAIL=
VITE_TEST_PASSWORD=
