node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


pb
.prompts
_pb_bak
.directory
*_bak

# llm
.aider*
!.aiderules

.vscode/*
aider.conf.yml
.zed/*
.augment-guidelines
llm/*
